@import url(https://fonts.googleapis.com/css?family=Consolas);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*~~~SCROLLBAR~~~*/
::-webkit-scrollbar {
    width: 30px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
    border: solid 10px rgb(32, 32, 41);
  }
   
  ::-webkit-scrollbar-thumb {
    background: #77c9b347;
    border-radius: 100px;
    border: solid 10px rgb(32, 32, 41);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #77c9b3; 
  }

html {
    font-family: "Consolas", monospace;
    background-color: rgb(32, 32, 41);
    scroll-behavior: smooth;
}

menu, nav {
    display: inline;
}

header {
    display: flex;
    padding-top: 1rem;
}

nav {
    flex: 5;
    text-align: right;
    margin-right: 1rem;
}

.logo-holder {
    flex: 2;
}

.logo {
    max-width: 5rem;
    margin-left: 1rem;
}

menu li {
    list-style-type: none;
    display: inline;
}

.navlinks {
    padding: 0 0.6rem;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    color: #77c9b368;
}

.navlinks:hover, .navlinks:focus {
    color: #77c9b3;
}

.greeting-text {
    font-size: 6rem;
    font-weight: 900;
    line-height: 1em;
    color: whitesmoke;
    height: 30rem;
    vertical-align: middle;
    padding: 10rem 0 0 2rem;
    user-select: none;
}

.scroll-down-text {
    text-align: center;
    color: #77c9b3;
    min-height: 5rem;
    letter-spacing: 0.8rem;
    animation-name: float-text;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes float-text {
    0% {}
    50% {padding-top: 1em;}
}

.scroll-down-text:hover {
    color: #ffcd34;
}


.cursor {
    font-weight: 400;
    color: whitesmoke;
}

h2 {
    font-size: 4rem;
    padding: 2rem 1rem;
    color: rgb(32, 32, 41);
    background-color: #ffcd34;
}

