@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;800&family=Space+Mono:wght@400;700&display=swap');

/*===========================================================================*/
/* Setting up CSS variables                                                */
/*=======================================================================*/
:root {
    --background: #232324;
    --white: #eee;
    --grey: #9c9c9c;
    --dark-grey: #151515;
    --main-font: 'Space Mono', monospace;
    --special-font: 'Inconsolata', monospace;
}

/*===========================================================================*/
/* Global selector                                                         */
/*=======================================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--white);
}

/*===========================================================================*/
/* Back Frame                                                              */
/*=======================================================================*/

#back-frame {
    position: fixed;
    z-index: -1;
}

/*===========================================================================*/
/* Common                                                                  */
/*=======================================================================*/

body {
    background-color: var(--background);
    overflow: hidden;
}

main {
    z-index: 0;
    width: 100%;
    height: 100%;
}

main > h1 {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 3vw;
    font-family: var(--main-font);
    font-weight: bold;
    margin: 30px 0 0 calc(5vw + 50px);
    text-transform: uppercase;
}

/* Overlay */

#overlay {
    display: none;
    mix-blend-mode: difference;
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: opacity(65%);
}


/* Menu */

menu {
    position: fixed;
    top: 40px;
    right: 40px;
    text-align: end;
    z-index: 2;
}

.menu-holder {
	filter: opacity(50%);
    transition: filter 1s ease;
    cursor: pointer;
}

.menu-holder:hover, .menu-holder:focus, .menu-holder:active {   
    filter: opacity(100%);
}

.menu-button {
    width: 100%;
    fill: var(--grey);
}

.menu-button #top, .menu-button #middle, .menu-button #bottom {
    transition: transform 1s ease, filter 1s ease;
}

.menu-button.open #middle {
	filter: opacity(0%);
}
.menu-button.open #top {
	transform-origin: center top;
	transform: translate(5%, 45%) rotate(45deg);
}
.menu-button.open #bottom {
	transform-origin: center bottom;
	transform: translate(5%, -45%) rotate(-45deg);
}

/* Menu Frame */
#menu-frame {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
}

/* Navigation Links */

menu nav {
    overflow: hidden;
}

menu nav > ul {
    width: 0;
    height: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

menu nav > ul.open {
    width: 100%;
    height: auto;
    transform: translateX(0);
}

menu nav > ul > li > a {
    text-decoration: none;
    color: var(--grey);
    font-size: calc(1.5vw + 1rem);
    font-family: var(--main-font);
    font-weight: bolder;
    transition: color 0.5s ease;
}

menu nav > ul > li > a:hover {
    text-decoration: solid line-through var(--white);
    color: var(--white);
}

menu nav > ul:first-child {
    margin-top: calc(0.1vw + 0.5rem);
}

nav.socials > ul {
    mix-blend-mode: difference;
    height: 40vh;
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav.socials svg {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    margin: 1vw 0;
    width: calc(3vw + 10px);
    height: calc(3vw + 10px);
    fill: #7c7c7c;
    transition: fill 0.5s ease;
}

nav.socials svg:hover {
    fill: var(--white);
}


/*===========================================================================*/
/* INDEX.HTML                                                              */
/*=======================================================================*/

h1.greeting {
    font-size: 15vw;
    font-family: var(--main-font);
    line-height: 9vw;
}

span.smaller {
    font-size: 7vw;
    display: inline-block;
    font-family: var(--special-font);
}

h2.subheading {
    display: inline-block;
    font-size: 3vw;
    font-family: var(--special-font);
    margin-top: 5vw;
}

h2.subheading::before {
    content: '>';
    margin-right: 1vw;
}

/*===========================================================================*/
/* ABOUT.HTML                                                              */
/*=======================================================================*/

.about-container {
    /* border: solid 0.5px var(--grey); */
    width: calc(100% - 50px);
    height: calc((100vh - 10vw - 50px));
    display: flex;
    flex-direction: row;
}

.about-content {
    height: 100%;
    flex: 5;
    position: relative;
}

.about-content > p {
    text-align: justify;
    font-size: calc(0.5vw + 1rem);
    height: 80%;
    margin: 20px;
    padding: 20px;
    background-color: #202020;
    overflow: scroll;
}

.about-content > .toggle-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.toggle-buttons > button {
    text-transform: uppercase;
    width: 100px;
    margin: 2px 10px;
    background-color: #363636;
    color: var(--white);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: calc(0.5vw + 0.5rem);
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.toggle-buttons > button:hover,
.toggle-buttons > button:focus,
.toggle-buttons > button.active {
    background-color: var(--white);
    color: var(--background);
}

.about-image {
    height: 100%;
    flex: 3;
    justify-content: center;
    display: flex;
    justify-content: center;
    filter: grayscale(0.9);
    position: relative;
}

.about-image > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.about-image > #image-effect {
    mix-blend-mode: difference;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    word-wrap: break-word;
    letter-spacing: 0.5rem;
    font-size: calc(0.5vw + 0.5rem);
    overflow: hidden;
    color: var(--background);
    user-select: none;
    z-index: 10;
}

.stats {
    margin: 20px;
    padding: 20px;
    background-color: #202020;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.stats > .data {
    height: fit-content;
    width: fit-content;
    position: relative;
}

.stats > .data  {
    opacity: 0.4;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.stats > .data:hover {
    opacity: 1;
    transform: scale(1.5);
}

.stats > .data > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8vw;
    color: var(--grey);
}

@media only screen and (max-width: 500px) {
    .about-container {
        flex-direction: column;
    }

    .about-content {
        flex: 1;
    }

    .about-image {
        flex: 1;
    }

    .stats {
        flex: 1;
    }
}

/*===========================================================================*/
/* PORTFOLIO.HTML                                                          */
/*=======================================================================*/

.portfolio-list {
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
    z-index: 3;
    white-space: nowrap;
    mix-blend-mode: difference;
    text-align: start;
}

.portfolio-list button {
    width: 100%;
    text-align: start;
}

.portfolio-list button > h2 {
    font-size: calc(3vw + 1vh + 0.5rem);
    font-family: var(--main-font);
    font-weight: lighter;
    margin-bottom: 0.5vw;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.portfolio-list button:nth-child(3) > h2 {
    opacity: 1;
}

.portfolio-list button:nth-child(2) > h2, 
.portfolio-list button:nth-child(4) > h2 {
    opacity: 0.2;
}

.portfolio-list button:nth-child(1) > h2, 
.portfolio-list button:nth-child(5) > h2 {
    opacity: 0.05;
}

.portfolio-list button {
    display: block;
    z-index: 4;
}

.background-image-holder {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    background-color: black;
}

.portfolio-display-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    filter: brightness(0.5) blur(0.5vw);
    transition: opacity 1.5s ease, filter 1.5s ease;
}

/* Popup */

.pop-up {
    display: none;
    width: 80vw;
    height: 80vh;
    background-color: var(--dark-grey);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.pop-up button {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
}

.pop-up button svg {
    width: 24px;
    height: 24px;
    fill: var(--white);
    transition: fill 0.5s ease;
}

.pop-up button:hover svg{
    fill: var(--grey);
}

.pop-up .banner {
    position: sticky;
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.pop-up .content {
    width: 100%;
    height: 80%;
    overflow: scroll;
    padding: 1vh 3vw;
}

.name {
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: lighter;
    margin-bottom: 1vw;
    color: var(--white);
}

.description {
    font-size: 1rem;
    font-family: var(--special-font);
    font-weight: lighter;
    line-height: 1.5;
    color: var(--grey);
    margin-bottom: 50px;
}

.description img,
.description video {
    width: 100%;
    height: auto;
    margin: 1vw 0;
}

.description figure {
    width: 60%;
    margin: 20px auto;
}

figure figcaption {
    font-size: 0.8rem;
    font-family: var(--special-font);
    font-weight: lighter;
    line-height: 1.5;
    color: var(--grey);
}

.description h2 {
    font-size: 1.5rem;
    font-family: var(--main-font);
    margin-bottom: 1vw;
    margin-top: 3vw;
    color: var(--white);
}

.description h3 {
    font-size: 1.2rem;
    font-family: var(--main-font);
    font-weight: lighter;
    margin: 1vw 0;
    color: var(--white);
}

.description h4 {
    font-size: 1rem;
    font-family: var(--main-font);
    margin: 1vw 0;
    color: var(--grey);
}

.description p {
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #202020;
}

/*===========================================================================*/
/* CONTACT.HTML                                                            */
/*=======================================================================*/

.contact-area {
    width: 100%;
    height: 100%;
    padding: 20vh 10vw 10vh 10vw;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
    flex: 4;
}

form > * {
    padding: 10px;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: small;
    background-color: transparent;
    border: 0.5px solid var(--grey);
}

form > input {
    flex: 2;
}

form > textarea {
    resize: none;
    flex: 10;
}

.submit {
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.submit:hover, .submit:focus, .submit:active {
    background-color: var(--grey);
    color: var(--dark-grey);
}

.contact-info {
    display: flex;
    flex: 3;
    height: 100%;
    display: flex;
    padding: 1vw;
}

/* Map SVG */

#pointer {
    transform-origin: center;
    animation: rotate 3s linear infinite;
}

#dot {
    filter: opacity(0);
    animation: pulse 3s ease-in-out infinite 0.5s;
}

#circles {
    filter: blur(2px);
}

#first-circle {
    transform-origin: center;
    animation: grow 3s linear infinite;
}

#second-circle {
    transform-origin: center;
    animation: grow 3s linear infinite 1s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        filter: opacity(0.1);
    }
    50% {
        filter: opacity(1);
    }
    100% {
        filter: opacity(0.5);
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Media Responsiveness */

@media only screen and (max-width: 500px) {
    .contact-area {
        flex-direction: column-reverse;
    }

    .nav-map {
        height: 100%;
    }

    .contact-info, form {
        justify-content: center;
        width: 100%;
        height: 50%;
    }
}

/*===========================================================================*/
/* Generic rules                                                           */
/*=======================================================================*/

.centre {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vertical-centre {
    position: fixed;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.uppercase {
    text-transform: uppercase;
}

.no-select {
    user-select: none;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.clear-default {
    background-color: transparent;
	border: none;
    text-decoration: none;
}