@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;800&family=Space+Mono:wght@400;700&display=swap');

/*===========================================================================*/
/* Setting up CSS variables                                                */
/*=======================================================================*/
:root {
    --background: #242425;
    --white: #eee;
    --grey: #9c9c9c;
    --dark-grey: #151515;
    --main-font: 'Space Mono', monospace;
    --special-font: 'Inconsolata', monospace;
}

/*===========================================================================*/
/* Global selector                                                         */
/*=======================================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/*===========================================================================*/
/* Generic rules                                                           */
/*=======================================================================*/


/*===========================================================================*/
/* Main                                                                    */
/*=======================================================================*/

body {
    background-color: var(--background);
}

